.input_field{
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}
.input_field_container{
    width: 50% !important;
}

#inputID::placeholder {
    color: #93a4cb;
  }

#inputID:focus{
    border-color: black;
    outline: none;
    box-shadow:none !important;
}  

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .input_field_container{
        width: 50% !important;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    .input_field_container{
        width: 75% !important;
    }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .input_field_container{
        width: 100% !important;
    }
 }


